.Header-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background-color: gray;

  a {
    &:first-child {
      margin-right: auto;
    }

    &:hover {
      background-color: darkgray;
    }

    color: black;
    padding: 20px;
    text-decoration: none;
  }
}

.Header-nav--active {
  background-color: darkgray;
}

.Header-nav--signout {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 20px;

  &:hover {
    background-color: darkgray;
  }
}
